* {
  padding:0px;
  margin:0px;
  
}
.menu{
  background-color:rgb(212 205 205);
  height: 10vh;
  
}
ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5%; 
}
.linkMenu{
  margin-left: 20%;
  margin-top: 1%;  
  list-style: none;
  list-style-type: none;
}
.contenedor{
 /* background-image:url('./img/fondo.jpg');*/
  background-color: white;
  /*height: 90vh;*/
}
.contenedorProductos{
  
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding:20px;

}
.texto{
  color:black;
  text-align: center;
  padding-top: 20vh;
  padding-right: 20vw;
  font-style: oblique;
  font-size: x-large;
}
.imagenItem{
  width:200px;
  
}
a{
  text-decoration: none;
  color: black;
}
.ItemDetalle{
  padding:0px 0px 150px 300px;
}
.imagenDetalle{
  width: 50vw;
}
.ItemProducto{
  padding:10px;
}
