* {
  padding:0px;
  margin:0px;
  
}
.menu{
  background-color:rgb(212 205 205);
  height: 10vh;
  
}
ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5%; 
}
.linkMenu{
  margin-left: 20%;
  margin-top: 1%;  
  list-style: none;
  list-style-type: none;
}
.contenedor{
  background-color: white;
}
.contenedorProductos{
  
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding:20px;

}
.carrito{
display: flex;
flex-direction: column;
align-items: flex-end;
padding-top:10px;
padding-right:10px;
}

.imagenItem{
  width:200px;
  
}
a{
  text-decoration: none;
  color: black;
}
.ItemDetalle{
  padding:15px 0px 150px 300px;
}
.imagenDetalle{
  width: 45vw;
}
.ItemProducto{
  padding:10px;
}
.fontcartwidget{
  font-weight: bold;
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
